.rowAlignment{
	display:flex; 
	flex-direction:row;
	color: black;
	padding-right: 200px;
	padding-left: 200px;
	padding-top: 100px;
}

.welcomeDashContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.child{
	padding-right: 200px;
}

.profile-info {
    display:flex; 
    align-items: center;
    justify-content: space-between;
    color: black;
}

.profile {
    display:flex; 
    flex-direction: column;
    justify-content: center;
    color: black;
    align-items: flex-start;
    margin: 0 20px;
    font-size: small;
}

.name,.occupation {
    margin: 0;
}

.name {
    font-size: large;
    font-weight: bold;
}

.occupation {
    font-size: small;
}

.nav-bar-container {
    margin: 20px auto;
    width: 1170px;
    height: 100px;
    transition: top 0.3s;
    display: flex;
    justify-content: space-between;
}

div {
    display: block;
}

.header-image {
    float: left;
    width: 30%;
}

.avatar {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5vh;
    transition: all 0.2s ease-in-out;
}

nav {
    padding-left: 0px; 
    float: right;
    padding-right: 100px;
    line-height: 100px;
    display: block;
}

.theme-btn {
    background-color: #A0A5FE;
    border: none;
    color: white;
    padding: 10px;
    height: 44px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    width: 121px;
    font-weight: bold;
  }
  
  .secondary-theme-btn {
    text-decoration: none;
    color: #6A71F3;
    font-weight: 400;
    padding-left: 10px;
    font-size: large;
  }

  .welcomeCard {
    height: 75vh;
    background-color: #DDBDD5;
    width: 75%;
    border-radius: 50px;
    color: black;
}


.uploadButton {
    background-color: #FFFFFF;
    border: none;
    color: black;
    padding: 10px;
    height: 24px;
    text-align: center;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    width: 195px;
    font-weight: bold;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

p {
    font-size: medium;
}