.dashboard-container{
	margin-top: 8vh;
    margin-left: 6vw;
}

.dashboard-container-child {
    display:flex;
    justify-content: flex-start; 
}

.profile-info {
    display:flex; 
    align-items: center;
    justify-content: space-between;
    color: black;
}

.profile {
    display:flex; 
    flex-direction: column;
    justify-content: center;
    color: black;
    align-items: flex-start;
    margin: 0 20px;
    font-size: small;
}

.name,.occupation {
    margin: 0;
}

.name {
    font-size: large;
    font-weight: bold;
}

.occupation {
    font-size: small;
}

.nav-bar-container {
    margin: 20px auto;
    width: 1170px;
    height: 100px;
    transition: top 0.3s;
    display: flex;
    justify-content: space-between;
}

div {
    display: block;
}

.header-image {
    float: left;
    width: 30%;
}

.avatar {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5vh;
    transition: all 0.2s ease-in-out;
}

.header-btn-image {
    vertical-align: middle;
    width: 21px;
    height: 22px;
    object-fit: cover;
    padding-left: 10px;
    padding-right: 30px;
}

nav {
    padding-left: 0px; 
    float: right;
    padding-right: 100px;
    line-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-btn {
    background-color: #A0A5FE;
    border: none;
    color: white;
    padding: 10px;
    height: 44px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    width: 121px;
    font-weight: bold;
  }

.generate-btn {
    width: 12vw;
    font-size: 0.9vw;
}
  
.header-btn {
    color: black;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

textarea {
    font-size: .8rem;
    font-family: 'Sen';
    color: black;
    font-size: medium;
}

textarea {
    padding: 10px;
    width: 20vw;
    line-height: 1.5;
    border-radius: 5px;
    border: 0px;
    background-color: #F9F8FC;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.uploadButton {
    background-color: #FFFFFF;
    border: none;
    color: black;
    height: 1.75vw;
    text-align: center;
    font-size: 0.9vw;
    border-radius: 8px;
    width: 12vw;
    font-weight: bold;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

p {
    font-size: 16px;
}

.report-list-container {
    height: 625;
    background-color: #F9F8FC;
    width: 40%;
    border-radius: 27px;
    margin-left: 12vw;
}

.report-title {
    font-size: 0.78em;
}

.report-item-empty{
    font-size: medium;
    padding: 20px;
    color: black;
    opacity: 0.5;
}

.report-item-container-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 35%;
}

.report-items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.report-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.separator {
    max-width: 100%;
    height: 1px;
    background-color: #A0A5FE;
    opacity: 0.6;  
    margin-top: 10px;
}

.report-item-child {
    display: flex;
    
}

.report-item-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-speech-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 25px;
}

.history-speech-title {
    font-size: medium;
}

.history-speech-subtitle {
    font-size: 10px;
}

.report-item-right {
    margin-left: 50px;
}

.number-overlay {
    background-color: #F5EFFB;
    width: 49px;
    height: 48px;
    border-radius: 50%;
    font-size: medium;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-btn {
    width: 10vw;
    font-size: 0.75vw;
    border-radius: 14px;
}